body { 
  font-family: monospace; 
  margin: 5px;  
  width:100%; 
  font-size: 12px;
}
/*-------------PC表示-------------*/
.field {
  display:flex;
  justify-content:start;
  flex-direction: row;
}
/*----------モバイル表示-----------*/
@media screen and (max-width: 960px){
    .field{
        flex-direction: column;/*flexアイテムを縦並びに変更*/
    }
}
/*----------flexアイテム-----------*/
.field01{
  width:470px; 
  margin: 5px;
}
.field02{
  width:480px; 
  margin: 20px;
}
.midi-status { 
  font-weight: bold; 
}
.midi-log { 
  margin-top: 10px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  height: 200px; 
  overflow-y: scroll; 
  background-color: #f9f9f9; 
  width:460px;
}
.log-message { 
  padding: 3px 0; 
  border-bottom: 1px solid #eee; 
  font-size: 12px;
}
#waveTable td { 
  vertical-align: top; /* 上寄せ */
}
select {
  font-family: monospace; 
  font-size: 12px;
}